
<html>
  <head>
    <div class="navbar navbar-expand-sm  navbar-transparent navbar-colored">
      <div class="icon">
        <div class="icon-pic">
          <%= image_tag "zusammen.png" %>
        </div>
        <div>
          <button class="logo-btn">
          <p>
            Humanity for Youths
          </p>
        </button>
        </div>
      </div>
      <div>
        <button class="donate-btn">
          <a class="nav-link" href="https://www.gofundme.com/sign-up" target="_blank">DONATE</a>
        </button>
      </div>
    </div>
  </head>
