  <div class="banner" style="background-image: url('<%= image_path "cameroon.jpg" %>');">
    <div class="container">
      <div class="title">
        <h3 style="color: pink; font-size: 100px; margin-bottom: 0px">Humanity</h3>
        <h3>for</h3>
        <h3 style="color: pink; font-size: 100px; margin-bottom: 0px">Youths</h3>
      </div>
    </div>
  </div>

  <div class="block-1">
      <p style="color: #008D8C"><strong>______________</strong></p>
      <h1>
        <strong>Help bring Humanity back to Cameroon</strong>
      </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus placeat blanditiis pariatur modi, ullam nulla accusamus dignissimos rem esse beatae possimus suscipit consequatur dolor repellendus, consequuntur earum labore ipsa sequi.</p>
      <button class="donate-btn">
        <a class="nav-link" href="https://www.gofundme.com/sign-up" target="_blank">DONATE NOW</a>
      </button>
  </div>

  <div class="block-2">
    <div class="in-block-left" >
      <%= image_tag("team.jpg", :alt => "this is our team", :class => "team-img") %>
    </div>
    <div class="in-block-right" style="background-color: pink">
      <h1 style="position: center;">ABOUT US</h1>
    </div>
    <div class="overlay">
      <div class="text-about-us">
        <h3 class="text-break">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non voluptatum laudantium, aliquam dolores nam necessitatibus distinctio architecto pariatur quas unde ratione quod aperiam animi quos reiciendis. Nihil, deleniti aliquam sapiente.</h3>
      </div>
    </div>
  </div>

  <div class="block-1">
      <p style="color: #008D8C"><strong>______________</strong></p>
      <h1>
        <strong>Humanity means caring for and helping others whenever and wherever possible</strong>
      </h1>
      <p style="color: #008D8C"><strong>______________</strong></p>
  </div>

  <div class="block-3">
    <div class="in-block-right" style="background-color: #008D8C;">
      <h1 style="position: center;">WHAT WE DO</h1>
    </div>
    <div class="in-block-left">
      <%= image_tag("children.jpg", :alt => "see what we do", :class => "team-img") %>
    </div>
    <div class="overlay">
      <div class="text-about-us">
        <h3 class="text-break">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non voluptatum laudantium, aliquam dolores nam necessitatibus distinctio architecto pariatur quas unde ratione quod aperiam animi quos reiciendis. Nihil, deleniti aliquam sapiente.</h3>
      </div>
    </div>
  </div>

  <div class="block-1">
      <p style="color: #008D8C"><strong>______________</strong></p>
      <h1>
        <strong>Humanity means forgetting our selfish interests at times when others need our help</strong>
      </h1>
      <p style="color: #008D8C"><strong>______________</strong></p>
  </div>

  <div class="block-2">
    <div class="in-block-left">
      <%= image_tag("contact.jpg", :alt => "this is our team", :class => "team-img") %>
    </div>
    <div class="in-block-right" style="background-color: pink">
      <h1 style="position: center;">CONTACT</h1>
    </div>
    <div class="overlay">
      <div class="text-contact">
        <div class="contact-flex">
          <div>
            <h4>Contact us:</h4>
            <p>e-mail: thisIsMyEmail@hotmail.com</p>
            <p>tel.: 047 123456789</p>
          </div>
          <div>
            <h3>Donation account: Bank of Amerika</h3>
            <h3>IBAN: DE12 3456 7890 1234 5678 00</h3>
            <h3>BIC: RYEXTRCZXXX</h3>
          </div>
          <div>
            <p>Humanity for Youths</p>
            <p>Heinrich-Längerer-Str. 27</p>
            <p>71229 Leonberg</p>
            <p>Cameroon</p>
          </div>
        </div>
        <div>
          <p>Your donations are tax deductible. The tax office Leonberg has confirmed our non-profit status. Our USt-ID is DE300498243.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="block-1">
      <p style="color: #008D8C"><strong>______________</strong></p>
      <h1>
        <strong>Humanity means forgetting our selfish interests at times when others need our help</strong>
      </h1>
      <p style="color: #008D8C"><strong>______________</strong></p>
  </div>
